HistoriaClinica/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerPacientes">
        <s:complexType />
      </s:element>
      <s:element name="obtenerPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPacientesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPacienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paciente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="primer_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundo_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primer_apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundo_apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_nacimiento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarPacienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizarPacienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarPacienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPacientes" />
  </wsdl:message>
  <wsdl:message name="obtenerPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPaciente" />
  </wsdl:message>
  <wsdl:message name="obtenerPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="guardarPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:guardarPaciente" />
  </wsdl:message>
  <wsdl:message name="guardarPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:guardarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarPaciente" />
  </wsdl:message>
  <wsdl:message name="actualizarPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarPaciente" />
  </wsdl:message>
  <wsdl:message name="eliminarPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="obtenerPacientes">
      <wsdl:input message="tns:obtenerPacientesSoapIn" />
      <wsdl:output message="tns:obtenerPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPaciente">
      <wsdl:input message="tns:obtenerPacienteSoapIn" />
      <wsdl:output message="tns:obtenerPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarPaciente">
      <wsdl:input message="tns:guardarPacienteSoapIn" />
      <wsdl:output message="tns:guardarPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarPaciente">
      <wsdl:input message="tns:actualizarPacienteSoapIn" />
      <wsdl:output message="tns:actualizarPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPaciente">
      <wsdl:input message="tns:eliminarPacienteSoapIn" />
      <wsdl:output message="tns:eliminarPacienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPacientes">
      <soap:operation soapAction="http://tempuri.org/obtenerPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPaciente">
      <soap:operation soapAction="http://tempuri.org/obtenerPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarPaciente">
      <soap:operation soapAction="http://tempuri.org/guardarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarPaciente">
      <soap:operation soapAction="http://tempuri.org/actualizarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPaciente">
      <soap:operation soapAction="http://tempuri.org/eliminarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPacientes">
      <soap12:operation soapAction="http://tempuri.org/obtenerPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPaciente">
      <soap12:operation soapAction="http://tempuri.org/obtenerPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarPaciente">
      <soap12:operation soapAction="http://tempuri.org/guardarPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarPaciente">
      <soap12:operation soapAction="http://tempuri.org/actualizarPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPaciente">
      <soap12:operation soapAction="http://tempuri.org/eliminarPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44393/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44393/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>